<button type="button" (click)="novoFilme()" class="btn btn-info">Novo</button>
<button type="button" (click)="salvarFilme()" class="btn btn-success">Salvar</button>
<button type="button" (click)="excluirFilme()" class="btn btn-danger">Excluir</button>
<button type="button" (click)="pesquisarFilme()" class="btn btn-warning">Pesquisar</button>

<form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="txtCodigo">Código:</label>
      <input type="text" [(ngModel)]="filme.codigo" name="txtCodigo" class="form-control" id="txtCodigo" disabled>
    </div>
    <div class="form-group col-md-10">
      <label for="txtNomeFilme">Nome do filme:</label>
      <input type="text" [(ngModel)]="filme.nome" name="txtNomeFilme" class="form-control" id="txtNomeFilme" placeholder="Digite o nome do filme">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="txtGenero">Gênero:</label>
      <input type="text" [(ngModel)]="filme.genero" name="txtGenero" class="form-control" id="txtGenero" placeholder="Digite o gênero do filme">
    </div>
    <div class="form-group col-md-2">
      <label for="txtAnoLancamento">Ano de lançamento:</label>
      <input type="text" [(ngModel)]="filme.anoLancamento" name="txtAnoLancamento" class="form-control" id="txtAnoLancamento" placeholder="Digite um ano">
    </div>
  </div>
</form>