<br/>
<input type="text" [(ngModel)]="searchText" class="form-control" placeholder="O que você está procurando?"/><br/>

<table class="table table-hover">
  <thead>
      <tr>
          <th>Código</th>
          <th>Nome da Música</th>
          <th>Filmes</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let trilhasonoraTabela of trilhassonoras | filter: searchText">
        <a [routerLink]="trilhasonoraTabela.codigo">
          <td>{{trilhasonoraTabela.codigo}}</td> </a>
          <td>{{trilhasonoraTabela.nomeMusica}}</td>
          <td>{{trilhasonoraTabela.filmes}}</td>
      </tr>
  </tbody>
</table>
<span [hidden]="(trilhassonoras | filter: searchText).length != 0">Infelizmente não temos o que você está procurando.</span>